<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bda2fce9-0004-4fae-adf5-598f4b3b3ed6/resourcegroups/HelloWorld20181210054300ResourceGroup/providers/Microsoft.Web/sites/HelloWorld20181210054300</ResourceId>
    <ResourceGroup>HelloWorld20181210054300ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://helloworld20181210054300.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>helloworld20181210054300.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HelloWorld20181210054300</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HelloWorld20181210054300</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyDbConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:helloworld20181212111615dbserver.database.windows.net,1433;Initial Catalog=HelloWorld20181212111615_db;User ID=thidk@helloworld20181212111615dbserver;Password=kimthi123@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="HelloWorld.Models.MyDatabaseContext, HelloWorld" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyDbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:helloworld20181212111615dbserver.database.windows.net,1433;Initial Catalog=HelloWorld20181212111615_db;User ID=thidk@helloworld20181212111615dbserver;Password=kimthi123@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>